<html>
    <head>
        <title>WebGL2-StableFluids</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
    </head>
    <body>
        <canvas id="canvas" style="width: 800px;height: 600px; background-color:#333" width="800" height="600"></canvas>
        <script>
            require(['StableFluids'],stablefluids=>{
                let canvas = document.getElementById('canvas');

                var sf = new stablefluids.StableFluids(canvas);
                function onFrame(ts){
                    sf.onFrame(ts);
                    window.requestAnimationFrame(onFrame);
                }
                window.requestAnimationFrame(onFrame);
            })
        </script>
    </body>
</html>